<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.vandit.hoboken-friction-collector</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/bin/python3</string>
    <string>/Users/vanditb/Documents/Hoboken-Transit-Friction-Map/scripts/collect_snapshot.py</string>
    <string>--once</string>
  </array>
  <key>StartInterval</key>
  <integer>900</integer>
  <key>WorkingDirectory</key>
  <string>/Users/vanditb/Documents/Hoboken-Transit-Friction-Map</string>
  <key>StandardOutPath</key>
  <string>/Users/vanditb/Documents/Hoboken-Transit-Friction-Map/data/history/collector_stdout.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/vanditb/Documents/Hoboken-Transit-Friction-Map/data/history/collector_stderr.log</string>
</dict>
</plist>
